<table>
  <% var i; for ( i = 0; i < quizes.length; i++) { %>
	<tr>
		<td>
		  <a href="quizes/<%= quizes[i].id %>">
			<%= quizes[i].pregunta %>
		  </a>
		</td>
		<td>
		  <a href="quizes/<%= quizes[i].id %>/edit">
			<button>editar</button>
		  </a>
		</td>
		<td>
		  <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
		    <button type="submit" onClick="return confirm('¿Borrar: <%= quizes[i].pregunta %>?');">
		    	borrar
		    </button>
		  </form>
		</td>
	</tr>
  <% } %>

</table>
<form method="get" action="/quizes">
  Filtrar:
  <input type="text" name="search" value="palabra(s) clave(s)" />
  <input type="submit" value="Filtrar" />
</form>
<a href="/quizes/new"><button type="button">Crear nueva pregunta</button></a>